.containerM {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "a-46W3X a-46W3X"
    "a-pZ9mM a-K8Ay4"
    "a-pZ9mM a-K8Ay4"
    "a-r2goO a-r2goO"
    "a-83XNQ a-83XNQ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.a-46W3X {
  grid-area: a-46W3X;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
.a-pZ9mM {
  grid-area: a-pZ9mM;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-K8Ay4 {
  grid-area: a-K8Ay4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-r2goO {
  padding-bottom: 4rem;
  grid-area: a-r2goO;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-83XNC {
  grid-area: a-83XNQ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-46W3X p {
  color: #fff;
  font-size: 82px;
}

.a-K8Ay4 img {
  width: 330px;
  height: 330px;
  max-width: 330px;
  max-height: 330px;
  border: 1px solid #57d1ec;
}

.a-pZ9mM p {
  color: #79b6fc;
  font-size: 36px;
}

.space {
  padding: 1rem;
}

.a-pZ9mM:hover {
  animation: perfil 2s ease 0.5s 1 normal forwards;
}

.a-46W3X {
  animation: ola 1s ease 1s 1 normal forwards;
}

@keyframes perfil {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


@keyframes ola {
	0% {
		opacity: 0;
		transform: translateX(-500px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



@media all and (max-width: 1200px) {
  .a-46W3X p {
    color: #fff;
    font-size: 62px;
  }

  .a-pZ9mM p {
    color: #79b6fc;
    font-size: 32px;
  }

  .a-K8Ay4 img {
    max-width: 280px;
    max-height: 280px;
  }

}


@media all and (max-width: 791px) {
  .a-46W3X p {
    color: #fff;
    font-size: 52px;
  }

  .a-pZ9mM p {
    color: #79b6fc;
    font-size: 22px;
  }

  .a-K8Ay4 img {
    max-width: 180px;
    max-height: 180px;
  }

}

@media all and (max-width: 591px) {
  .a-46W3X p {
    color: #fff;
    font-size: 32px;
  }

  .a-pZ9mM p {
    color: #79b6fc;
    font-size: 14px;
  }

  .a-K8Ay4 img {
    max-width: 120px;
    max-height: 120px;
  }

  .containerM{
    width: 75%;
  }


}