.slides {
  color: #ffffff;
  background-color: #162433;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "a-k260o a-83XNQ"
    "a-DqwV0 a-DqwV0";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 325px;
  height: 275px;
  padding: 1.5rem;
  
}

.slides a {
  color: #ffffff;
  text-decoration: none;
}

.a-k260o {
  grid-area: a-k260o;
  display: flex;
  align-items: center;
  justify-content: start;
}
.a-83XNQ {
  grid-area: a-83XNQ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-DqwV0 {
  grid-area: a-DqwV0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-k260o img {
  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;
}

#nome {
  font-size: 32px;
}


@media all and (max-width: 1200px) {
  .swiper {
    width: 800px;
  }

  .swiper .swiper-wrapper {
    padding: 35px;
  }


  .slides {
    width: 200px;
    height: 220px;
  }

  .a-k260o img {
    max-width: 32px;
    max-height: 32px;
  }

  #nome {
    font-size: 24px;
  }

  .slides p {
    font-size: 14px;
  }
}


@media all and (max-width: 791px) {
  .swiper {
    width: 500px;
  }

  .swiper .swiper-wrapper {
    padding: 30px;
  }

  .slides {
    width: 146px;
    height: 146px;
  }

  .a-k260o img {
    max-width: 23px;
    max-height: 23px;
  }

  #nome {
    font-size: 18px;
  }

  .slides p {
    font-size: 12px;
  }
}


@media all and (max-width: 591px) {
 
  .swiper {
    width: 360px;
  }

  .swiper .swiper-wrapper {
    padding: 15px;
  }

  .slides {
    width: 110px;
    height: 110px;
  }

  .a-k260o img {
    max-width: 26px;
    max-height: 26px;
  }

  #nome {
    font-size: 10px;
  }

  .slides p {
    font-size: 8px;
  }

}

@media all and (max-width: 425px) {
 
  .swiper {
    width: 270px;
  }

  .swiper .swiper-wrapper {
    padding: 5px;
  }

  .slides {
    width: 72px;
    height: 62px;
    padding: 12px;
  }

  .a-k260o img {
    max-width: 18px;
    max-height: 18px;
  }

  #nome {
    font-size: 6px;
  }

  .slides p {
    font-size: 4px;
  }

}