.App {
  background-color: #0b182b;
  justify-content: center;
  align-items: center;
  background-size: cover;
  scroll-behavior: smooth;

  /*
    background-image: url(/src/Assets/page.png);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;*/
}

.container {
  max-height: 2600px;
}
